
body {
  margin:0;
  font-family: sans-serif;
  text-align:center;
  color: #000;

  nav{
    margin:10px;

  }

  ul.pagination{
      list-style: none;
      text-align: left;
      li{
        display: inline
      };
  }

  form{
    & .error{
      background: rgba(255, 0, 0, 0.31);
    }
  }


  & .success{
    background: #bcdda9;
    color: #055e01;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 0.3em;
  }

  & .fail{
    background: rgba(214, 0, 6, 0.45);
    color: #5e1c1f;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 0.3em;
  }

  & .welcome {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;

    h1 {
      font-size: 32px;
      margin: 16px 0 0 0;
      color: #ff0000;
    }

  }

}

a, a:visited {
  text-decoration:none;
}

